@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;800&display=swap');

*{
    margin: 0;
}

h1{
    color: rgb(232, 128, 2);
    font-family: 'Trispace', sans-serif; font-weight: 100;
    
}

th{
    padding: 10px;
    font-family: 'Trispace', sans-serif; font-weight: 800;
    
}

td{
    
    padding: 10px;
    font-family: 'Trispace', sans-serif; font-weight: 700;
}

table{
    justify-content: center;
    border: 1px groove;
}
caption{
    border: 1px;
}

body{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.imagem {
    width: 50%;
}